<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "CHARACTER" | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeLanguage()">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "CHARACTER" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-item>
          <ion-select placeholder="Select character" (ionChange)="changeCharacter($event)" [(ngModel)]="character" [compareWith]="compareWith">
            <ion-select-option *ngFor="let c of all_characters" [value]="c.id">{{ c.name }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-label>{{ "APP_VERSION" | translate }}: {{app_version}}</ion-label>
      </ion-row>
    </ion-col>
  </ion-grid>
  
</ion-content>
