<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="character">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>{{ "CHARACTER" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="deck">
      <ion-icon name="hardware-chip-outline"></ion-icon>
      <ion-label>Deck</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ccr">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label>CCR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
