<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CCR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CCR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="device">
          <ion-list lines="none" class="width_100">
            <ion-item class="device_header">
              <ion-grid>
                <ion-row class="ion-justify-content-between">
                  <ion-col size="3">
                    <ion-list>
                      <ion-item>
                        <ion-select placeholder="Select device" (ionChange)="changeDevice($event)" [(ngModel)]="device" [compareWith]="compareWith">
                          <ion-select-option *ngFor="let d of all_devices" [value]="d">{{d.name}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col size="3" class="indicedisplay">{{ "DEVICE_RATING" | translate }}: {{device.rating}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid class="attributes">
                <ion-row>
                  <ion-col class="attributename">{{ "NOISE_RED" | translate }}</ion-col>
                  <ion-col class="attributename">{{ "FIREWALL" | translate }}</ion-col>
                  <ion-col class="attributename">{{ "D_PROC" | translate }}</ion-col>
                  <ion-col class="attributename">{{ "CONDITION" | translate }}</ion-col>
                </ion-row>
                <ion-row >
                  <ion-col class="attributebox">{{device.noise_reduction}}</ion-col>
                  <ion-col class="attributebox">{{device.firewall}}</ion-col>
                  <ion-col class="attributebox">{{device.DProc}}</ion-col>
                  <ion-col class="attributebox">
                    <ion-col size="9" class="subattributbox">{{device.condition}}</ion-col>
                    <ion-col size="3" class="variationbox">
                      <ion-row><ion-icon (click)="increaseCondition()" name="add-circle"></ion-icon></ion-row>
                      <ion-row><ion-icon (click)="decreaseCondition()" name="remove-circle"></ion-icon></ion-row>
                    </ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-row class="informationrow">{{ "D_PROC" | translate }} <ion-icon name="arrow-forward-outline"></ion-icon> {{ "DATA_PROCESS" | translate }}</ion-row>
            <ion-row class="informationrow">{{ "NOISE_RED" | translate }} <ion-icon name="arrow-forward-outline"></ion-icon> {{ "NOISE_REDUCTION" | translate }}</ion-row>
          </ion-col>
          <ion-col size="6">
            <ion-row class="warningrow" [hidden]="!vm_warning">{{ "VM_WARNING" | translate }}</ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-list class="width_100">
            <app-display-actions [categories]="data.categories"></app-display-actions>
          </ion-list>
        </ion-row>
      </ion-col>
      <ion-col class="right_grid">
        <ion-row>
          <p>{{ "MAX_PROGRAM_DESC" | translate : { number: max_program } }}</p>
        </ion-row>
        <ion-row>
          <p>{{ "CURRENT_PROGRAM_DESC" | translate : { number: current_program } }}</p>
        </ion-row>
        <ion-row>
          <ion-list class="width_100">
            <app-display-programs [programs]="data.programs" title="Programmes communs" page="ccr"></app-display-programs>
            <app-display-programs [programs]="data.hacking_programs" title="Programmes de hacking" page="ccr"></app-display-programs>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
