<ion-header>
  <ion-toolbar>
    <ion-title>{{action.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ "CLOSE" | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <p>{{ action.details }}</p>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row class="Even">
        <ion-col size="5">{{ "TEST_DESC" | translate }}</ion-col>
        <ion-col size="7">{{action.test}}</ion-col>
      </ion-row>
      <ion-row class="Odd">
        <ion-col size="5">{{ "LIMIT_TO_APPLY" | translate }}</ion-col>
        <ion-col size="7">{{action.limit}}</ion-col>
      </ion-row>
      <ion-row class="Even">
        <ion-col size="5">{{ "ACTION_TYPE" | translate }}</ion-col>
        <ion-col size="7">{{action.type}}</ion-col>
      </ion-row>
      <ion-row class="Odd">
        <ion-col size="5">{{ "NBR_REQ_MARKS" | translate }}</ion-col>
        <ion-col size="7">{{action.mark}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
