<ion-accordion-group [multiple]="true">
  <div *ngFor="let category of categories">
    <ion-accordion value="{{category.name}}">
      <ion-item slot="header" color="light">
        <ion-label>{{category.name}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-item class="headers">
          <ion-col size="2">{{ "NAME" | translate }}</ion-col>
          <ion-col size="1">{{ "MARK" | translate }}</ion-col>
          <ion-col size="4">{{ "TEST" | translate }}</ion-col>
          <ion-col size="2">{{ "LIMIT" | translate }}</ion-col>
          <ion-col size="2">{{ "TYPE" | translate }}</ion-col>
          <ion-col size="1">{{ "PAGE" | translate }}</ion-col>
        </ion-item>
        <ion-item>
          <ion-grid>
            <ion-row *ngFor="let action of category.actions; index as i, odd as isOdd; even as isEven" [class.Odd]="isOdd" [class.Even]="isEven" class="item-accordion" ng-show="isGroupShown(category)">
              <ion-col size="2">{{action.name}}</ion-col>
              <ion-col size="1">{{action.mark}}</ion-col>
              <ion-col size="4">{{action.test}}</ion-col>
              <ion-col size="2">{{action.limit}}</ion-col>
              <ion-col size="2">{{action.type}}</ion-col>
              <ion-col size="1">{{action.page}}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-accordion>
  </div>
</ion-accordion-group>