<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deck
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deck</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-list lines="none" class="width_100">
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>{{device.name}}</ion-col>
                  <ion-col>indice: {{device.indice}}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>TdD: {{device.TdD}}</ion-col>
                  <ion-col>Firewall: {{device.firewall}}</ion-col>
                  <ion-col>Attaque: {{device.attaque}}</ion-col>
                  <ion-col>Corruption: {{device.corruption}}</ion-col>
                  <ion-col>Condition: {{device.condition}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row>
          <ion-list class="width_100">
            <app-display-actions [categories]="data.categories" [headers]="data.actionsHeaders"></app-display-actions>
          </ion-list>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-list class="width_100">
            <app-display-programs [programs]="data.programs" [headers]="data.programsHeaders"></app-display-programs>
            <app-display-programs [programs]="data.hacking_programs" title="Programmes de hacking"></app-display-programs>
          </ion-list>
        </ion-row>
        <ion-row>
          <p>Nombre maximum de programmes pouvant être actif en même temps: {{max_program}} programmes</p>
        </ion-row>
        <ion-row>
          <p>Il y a actuellement {{current_program}} programmes actifs</p>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
