<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deck
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deck</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="device">
          <ion-list lines="none" class="width_100">
            <ion-item class="device_header">
              <ion-grid>
                <ion-row class="ion-justify-content-between">
                  <ion-col size="3">
                    <ion-list>
                      <ion-item>
                        <ion-select placeholder="Select device" (ionChange)="changeDevice($event)" [(ngModel)]="device" [compareWith]="compareWith">
                          <ion-select-option *ngFor="let d of all_devices" [value]="d">{{d.name}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </ion-col>
                  <ion-col size="3" class="indicedisplay">indice: {{device.indice}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid class="attributes">
                <ion-row>
                  <ion-col class="attributename">Attaque</ion-col>
                  <ion-col class="attributename">Corruption</ion-col>
                  <ion-col class="attributename">Firewall</ion-col>
                  <ion-col class="attributename">TdD</ion-col>
                  <ion-col class="attributename">Condition</ion-col>
                </ion-row>
                <ion-row cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                  <ion-col class="attributebox" cdkDrag><div class="attribute-custom-placeholder" *cdkDragPlaceholder></div>{{device.attaque}}</ion-col>
                  <ion-col class="attributebox" cdkDrag><div class="attribute-custom-placeholder" *cdkDragPlaceholder></div>{{device.corruption}}</ion-col>
                  <ion-col class="attributebox" cdkDrag><div class="attribute-custom-placeholder" *cdkDragPlaceholder></div>{{device.firewall}}</ion-col>
                  <ion-col class="attributebox" cdkDrag><div class="attribute-custom-placeholder" *cdkDragPlaceholder></div>{{device.TdD}}</ion-col>
                  <ion-col class="attributebox">
                    <ion-col size="9" class="subattributbox">{{device.condition}}</ion-col>
                    <ion-col size="3" class="variationbox">
                      <ion-row><ion-icon (click)="increaseCondition()" name="add-circle"></ion-icon></ion-row>
                      <ion-row><ion-icon (click)="decreaseCondition()" name="remove-circle"></ion-icon></ion-row>
                    </ion-col>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-row>
        <ion-row class="informationrow">TdD <ion-icon name="arrow-forward-outline"></ion-icon> Traitement de données</ion-row>
        <ion-row>
          <ion-list class="width_100">
            <app-display-actions [categories]="data.categories" [headers]="data.actionsHeaders"></app-display-actions>
          </ion-list>
        </ion-row>
      </ion-col>
      <ion-col class="right_grid">
        <ion-row>
          <p>Nombre maximum de programmes pouvant être actif en même temps: {{max_program}} programmes</p>
        </ion-row>
        <ion-row>
          <p>Il y a actuellement {{current_program}} programmes actifs</p>
        </ion-row>
        <ion-row>
          <ion-list class="width_100">
            <app-display-programs [programs]="data.programs" title="Programmes communs"></app-display-programs>
            <app-display-programs [programs]="data.hacking_programs" title="Programmes de hacking"></app-display-programs>
          </ion-list>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
