<ion-list-header *ngIf="title">
  <ion-label>{{title}}</ion-label>
</ion-list-header>
<ion-item class="headers">
  <ion-col size="1">active</ion-col>
  <ion-col size="1">loaded</ion-col>
  <ion-col size="3">{{ "NAME" | translate }}</ion-col>
  <ion-col size="1">{{ "PAGE" | translate }}</ion-col>
  <ion-col size="6">description</ion-col>
</ion-item>
<ion-item>
  <ion-grid>
    <ion-row *ngFor="let program of programs; index as i, odd as isOdd; even as isEven" [class.Odd]="isOdd" [class.Even]="isEven">
      <ion-col size="1">
          <ion-checkbox class="program_checkbox" [(ngModel)]="program.active"  [disabled]="!program.installed || (current_program >= max_program && !program.active)" (ionChange)="setActive($event)"></ion-checkbox>
      </ion-col>
      <ion-col size="1">
        <ion-checkbox class="program_checkbox" [(ngModel)]="program.installed" [disabled]="program.active"></ion-checkbox>
      </ion-col>
      <ion-col size="3" class="program_label">{{program.name}}</ion-col>
      <ion-col size="1" class="program_page">{{program.page}}</ion-col>
      <ion-col size="6">{{program.description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
