<ion-list-header *ngIf="headers">
  <ion-label *ngFor="let head of headers">{{head}}</ion-label>
</ion-list-header>
<ion-list-header *ngIf="title">
  <ion-label>{{title}}</ion-label>
</ion-list-header>
<ion-item *ngFor="let program of programs">
  <ion-grid>
    <ion-row>
      <ion-col size="1">
          <ion-checkbox class="program_checkbox" [(ngModel)]="program.active"  [disabled]="!program.installed || (current_program >= max_program && !program.active)" (ionChange)="setActive($event)"></ion-checkbox>
      </ion-col>
      <ion-col size="1">
        <ion-checkbox class="program_checkbox" [(ngModel)]="program.installed" [disabled]="program.active"></ion-checkbox>
      </ion-col>
      <ion-col size="3" class="program_label">{{program.name}}</ion-col>
      <ion-col size="1" class="program_page">{{program.page}}</ion-col>
      <ion-col size="6">{{program.description}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-item>